#htaccess de la pagina eurogoini.com 
# Activar RewriteEngine
Options +FollowSymlinks 
RewriteEngine on

RewriteRule ^(.*)/(\w+)\.php$ $2.php 
RewriteRule ^(.*)/(\w+)(/?)$ $2.php 
#RewriteRule ^(.*)/(\w+)$ $2.php

#redireccion de la hoja de estilo
#RewriteRule ^(.*)//eurogoini/style.css /eurogoini/style.css

ErrorDocument 404 /eurogoini/404.php
