#htaccess de la pagina eurogoini.com.mx 
# Activar RewriteEngine
Options +FollowSymlinks 
RewriteEngine on

RewriteRule ^(.*)/(\w+)\.html$ $2.html
RewriteRule ^(.*)/(\w+)(/?)$ $2.html
#RewriteRule ^(.*)/(\w+)$ $2.html

#redireccion de la hoja de estilo
#RewriteRule ^(.*)//eurogoini/style.css /eurogoini/style.css

ErrorDocument 404 /eurogoini/404.php